__pycache__/
*.pyc
*.pyo
*.pyd
*.so

venv/
.env

.vscode/
.idea/

.cache/
.pytest_cache/
.mypy_cache/

coverage.xml
htmlcov/
*.cover
*.py,cover

logs/
*.log

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

*.iml

volumes/

*.pem

node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
package-lock.json
yarn.lock
frontend/build/
frontend/dist/
