__pycache__/
*.pyc
*.pyo
*.pyd

*.so

venv/
.env

.vscode/
.idea/

.cache/
.pytest_cache/

.mypy_cache/
coverage.xml
htmlcov/
*.cover
*.py,cover

*.log

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

*.iml

volumes/

*.pem
