.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.doc-page {
    margin-top: 5em;
    display: flex;
    flex: 1;
}

.doc-sidebar {
    width: 20%;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid white;
}


.doc-content {
    width: 80%;
    padding: 2rem;
    box-sizing: border-box;
}


.doc-link {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.2s ease;
}
.doc-link.active {
    background-color: #eaeaea;
    color: #000;
    border-left: 3px solid #00b5ad;
    padding-left: calc(1rem - 3px);
}

.doc-link:hover {
    background-color: #eaeaea;
}

.doc-code {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Source Code Pro', Consolas, Monaco, 'Courier New', monospace;
    font-size: 14px;
    padding: 1rem;
    border-radius: 6px;
    overflow-x: auto;
    white-space: pre-wrap;
    box-shadow: inset 0 0 10px #000000cc;
    position: relative;
}

.doc-code::before {
    content: '$ ';
    color: #00ff00;
    font-weight: bold;
    position: absolute;
    left: 1rem;
    top: 1rem;
    pointer-events: none;
}


.doc-code {
    padding-left: 2.5rem;
}
