html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #252525;
    color: white;
}

main {
    flex: 1;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
}

a {
    color: white;
}

a:hover {
    color: #aaaaaa;
}
